@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400&family=Karla:ital,wght@0,400;0,700;1,400;1,700");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0A2445;
  --color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A2445;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Karla";
}

.button-glow {
  box-shadow: 0px 4px 30px 0px #61FFF4;
  background: #61FFF4;
  color: #000000;
  font-weight: bolder;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
